.homepage-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 74vh;

    .item {
        flex: 1;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .item-bg {
            height: 100%;
            transition: all .5s;
            background-size: cover;
            background-position: center;
        }

        &:first-child {
            .item-bg {
                background-image: url('../../assets/movies.png');
            }
        }

        &:last-child {
            .item-bg {
                background-image: url('../../assets/series.png');
            }
        }

        

        &:hover {
            .item-bg {
                transform: scale(1.1);
            }

            .title {
                opacity: 100%;
            }
        }

        img {
            width: 100%;
            display: block;
        }

        .title {
            position: absolute;
            bottom: 0;
            width: 100%;

            h1 {
                font-size: 30px;
                font-weight: 700;
                background: #ca2b21;
                opacity: 75%;
                padding: 20px 30px;
                transition: all 0.5s;
                color: #ffffff;
            }
        }
    }
}